{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

{% endblock stylesheets %}

{% block body %}
    <div id="main">
        <div class="error-container">
            <h1>Dostęp zabroniony !!! Kod błędu: {{ status_code }}</h1>
            <p>Nie masz odpowiednich uprawnień.</p>
            <p><a href="{{ path('strona_glowna') }}" role="button">Wróć na stronę główną</a></p>
        </div>
    </div>
    <footer>
        <p>Copyright Adam Królikowski</p>
    </footer>

{% endblock body %}