{% extends '@DFPEtapI/Backend/index.html.twig' %}

{% block content -%}
    <h1>Dodaj nowy rodzaj podłoża</h1>

    {{ form(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('url_backend_rodzajpowierzchni') }}" class="art-button">
                Powrót do listy
            </a>
        </li>
    </ul>
{% endblock %}
