dfp_frontend:
    resource: "@DFPEtapIBundle/Controller/Frontend/"
    type:     annotation
    prefix:   /

dfp_backend:
    resource: "@DFPEtapIBundle/Controller/Backend/"
    type:     annotation
    prefix:   /zaplecze

fos_user_security_check:
    pattern: /login_check
    defaults: {_controller: FOSUserBundle:Security:check}

fos_user_security_logout:
    pattern: /logout
    defaults: {_controller: FOSUserBundle:Security:logout}

fos_user_security:
    resource: "@FOSUserBundle/Resources/config/routing/security.xml"

fos_user_profile:
    resource: "@FOSUserBundle/Resources/config/routing/profile.xml"
    prefix: /profil
#
#fos_user_register:
#    resource: "@FOSUserBundle/Resources/config/routing/registration.xml"
#    prefix: /register
#
#fos_user_resetting:
#    resource: "@FOSUserBundle/Resources/config/routing/resetting.xml"
#    prefix: /resetting
#
fos_user_change_password:
    resource: "@FOSUserBundle/Resources/config/routing/change_password.xml"
    prefix: /profil

karta_techniczna_header:
    path: /produkty/karta-techniczna-header
    defaults:
        _controller:  FrameworkBundle:Template:template
        template:     DFPEtapIBundle:Backend/Produkt:karta_techniczna_header.html.twig

karta_techniczna_footer:
    path: /produkty/karta-techniczna-footer
    defaults:
        _controller:  FrameworkBundle:Template:template
        template:     DFPEtapIBundle:Backend/Produkt:karta_techniczna_footer.html.twig
