{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

{% endblock stylesheets %}

{% block body %}
    <div id="main">
        {% block content %}
            <section>
                {% block fos_user_content %}{% endblock fos_user_content %}
            </section>
        {% endblock content %}
    </div>
    <footer>
        <p>Copyright Adam Królikowski</p>
    </footer>

{% endblock body %}