{% extends '@DFPEtapI/layout.html.twig' %}

{% block content %}
    <section style="background: url({{ asset('css/images/tlo.jpg') }}) no-repeat scroll 50% 0 / 100% 90% rgba(0, 0, 0, 0); display: block; width: 949px; height: 800px;">

    </section>
{% endblock content %}