#main {
    height: auto;
}
#main table th {
    width: 260px;
}
#main table {
    text-align: left;
    margin-top: 20px;
}
#main caption {
    color: #7B68EE;
    text-shadow: 0 0 1px #333333;
    margin: 5px 0;
    font-size: 15px;
}
#main table tbody td {
    overflow: auto;
    padding: 0;
}
#main table tbody td p {
    padding: 0 5px;
    margin: 0;
}
#main table tbody td div {
    max-height: none;
    border: 0 none;
    margin: 0;
}
#dfp_etapibundle_filia_kodPocztowy {
    width: 6.1%;
}
#dfp_etapibundle_filia_miejscowosc {
    width: 89.6%;
}
.edycja {
    background-color: #DEEAF8;
}
.edycja > div {
    background-color: inherit;
}
.checks-list > div {
    background-color: inherit;
}
form div {
    margin: 4px 0;
}
form label {
    font-size: 13px;
    margin: 0;
}
form input[type="text"] {
    background-color: #DEEAF8;
    border: 0 none;
    font-size: 13px;
    height: 100%;
    margin: 0;
    padding: 0 5px;
    width: 98.5%;
}
.checks-list label {
    float: left;
}
.checks-list div {
    border: 1px solid #AAAAAA;
    float: left;
    height: auto;
    padding: 5px;
}
.checks-list input {
    cursor: pointer;
    float: left;
    margin: 2px 85px 2px 0;
}
.checks-list div label {
    cursor: pointer;
    font-size: 13px;
    width: 200px;
}
dl.table-display {
    border-bottom: 1px solid #999999;
    float: left;
    margin: 1em 0;
    padding: 0;
    width: 520px;
}
.table-display > dt {
    border-top: 1px solid #999999;
    clear: left;
    float: left;
    font-weight: bold;
    margin: 0;
    padding: 5px;
    width: 200px;
}
.table-display > dd {
    border-top: 1px solid #999999;
    float: left;
    margin: 0;
    padding: 5px;
    width: 300px;
}
.table-display dd dl dd {
    margin: 0;
    border-left: 6px groove;
    padding-left: 10px;
}
.table-display dd dl dt {
    font-weight: bold;
}
.table-display dd dl dt:nth-child(n+2) {
    margin-top: 10px;
}
/* TYMCZASOWO */

.osadzony > label {
    float: left;
    margin: 10px 10px 10px 0;
}
.filia-uzytkownicy {
    float: left;
    list-style: none outside none;
    margin: 3px 0 10px;
    padding: 0;
    width: 768px;
}
.filia-uzytkownicy div {
    float: left;
    width: 630px;
}
.osadzony input, .osadzony select {
    width: 300px !important;
}
.osadzony ul label {
    width: 250px;
}
.filia-uzytkownicy li a {
    float: left;
    margin: 22px 5px;
}
.filia-uzytkownicy > li {
    clear: left;
}
.record_actions div {
    margin: 0;
}