#main {
    height: auto;
}
form div {
    margin: 4px 0;
}
form label {
    display: inline-block;
    font-size: 16px;
    width: 170px;
}
form input[type="text"] {
    font-size: 16px;
    width: 765px;
}
.checks-list label {
    float: left;
}
.checks-list div {
    background-color: #F0F0F0;
    border: 1px solid #AAAAAA;
    float: left;
    height: auto;
    padding: 3px;
    width: 759px;
}
.checks-list input {
    cursor: pointer;
    float: left;
    margin: 2px 155px 2px 0;
}
.checks-list div label {
    cursor: pointer;
    font-size: 13px;
    width: 200px;
}
dl.table-display {
    border-bottom: 1px solid #999999;
    float: left;
    margin: 1em 0;
    padding: 0;
    width: 520px;
}
.table-display > dt {
    border-top: 1px solid #999999;
    clear: left;
    float: left;
    font-weight: bold;
    margin: 0;
    padding: 5px;
    width: 200px;
}
.table-display > dd {
    border-top: 1px solid #999999;
    float: left;
    margin: 0;
    padding: 5px;
    width: 300px;
}
.table-display dd dl dd {
    margin: 0;
    border-left: 6px groove;
    padding-left: 10px;
}
.table-display dd dl dt {
    font-weight: bold;
}
.table-display dd dl dt:nth-child(n+2) {
    margin-top: 10px;
}