#main {
    height: auto;
}
#main table th {
    width: 260px;
    padding-left: 5px;
}
#main table th sup {
    background-color: #FFA500;
    border: 1px solid #000000;
    border-radius: 15px;
    color: #4B0082;
    cursor: help;
    display: inline-block;
    font-weight: bold;
    height: 12px;
    text-align: center;
    width: 12px;
}
#main table {
    text-align: left;
    margin-top: 20px;
}
#main caption {
    color: #7B68EE;
    text-shadow: 0 0 1px #333333;
    margin: 5px 0;
    font-size: 15px;
}
#main table tbody td {
    overflow: auto;
    padding: 0;
}
#main table tbody td p {
    padding: 0 5px;
    margin: 0;
}
#main table tbody td div {
    max-height: none;
    border: 0 none;
    margin: 0;
}
#dfp_etapibundle_filia_kodPocztowy {
    width: 6.1%;
}
#dfp_etapibundle_filia_miejscowosc {
    width: 89.6%;
}
.edycja {
    background-color: #DEEAF8;
}
.edycja > div {
    background-color: inherit;
}
.checks-list > div {
    background-color: inherit;
}
form div {
    margin: 4px 0;
}
form label {
    font-size: 13px;
    margin: 0;
}
form input[type="text"], form input[type="number"] {
    background-color: #DEEAF8;
    border: 0 none;
    font-size: 13px;
    margin: 0;
    margin: 0 5px;
    width: 98.5%;
    border-bottom: 1px dashed #AAAAAA;
}
.checks-list label {
    float: left;
}
.checks-list div {
    border: 1px solid #AAAAAA;
    float: left;
    height: auto;
    padding: 5px;
}
.checks-list input {
    cursor: pointer;
    float: left;
    margin: 2px 85px 2px 0;
}
.checks-list div label {
    cursor: pointer;
    font-size: 13px;
    width: 200px;
}
.filia-parametry-tech ul {
    padding: 0 5px;
}
.filia-parametry-tech ul li {
    list-style: none outside none;
}
.filia-parametry-tech ul li:nth-last-child(2) {
    border-bottom: 1px solid #AAA;
}
.parametr-container {
    border: 1px none #AAAAAA;
    border-top-style: solid;
    clear: both;
    height: auto;
    overflow: auto;
    padding: 3px 0;
}
.parametr-box {
    float: left;
    width: 90%;
}
.parametr-box div label {
    display: inline-block;
    width: 220px;
}
.parametr-box select, .parametr-container .parametr-box input {
    margin: 0;
    width: 360px;
}
.parametr-box input[type="checkbox"] {
    width: auto;
}
/* TYMCZASOWO */

.osadzony > label {
    float: left;
    margin: 10px 10px 10px 0;
}
.filia-uzytkownicy {
    float: left;
    list-style: none outside none;
    margin: 3px 0 10px;
    padding: 0;
    width: 768px;
}
.filia-uzytkownicy div {
    float: left;
    width: 630px;
}
.osadzony input, .osadzony select {
    width: 300px !important;
}
.osadzony ul label {
    width: 250px;
}
.filia-uzytkownicy li a {
    float: left;
    margin: 22px 5px;
}
.filia-uzytkownicy > li {
    clear: left;
}
.record_actions div {
    margin: 0;
}