.lewa {
    float: left;
}
.prawa {
    float: right;
}
#main {
    height: auto;
}
.record_properties tr {
    text-align: left;
}
.record_properties th {
    padding: 1px 7px;
    width: 270px;
}
#info-dodatkowe > div {
    width: 50%;
}
legend {
    color: #0085FF;
    font-weight: bold;
    text-shadow: 0 0 0.5px #000000;
}
fieldset {
    background-color: #F3F3F3;
    color: #333333;
}
#notatki {
    border-bottom: 1px dashed #FF9000;
    padding-bottom: 15px;
}
#notatki h2 {
    border-bottom: 1px dashed #FF9000;
}
#notatki .container {
    height: 300px;
    overflow-y: scroll;
}
.notatka {
    border: 1px solid;
    border-radius: 5px;
    padding: 0 5px 5px;
    margin: 5px 10px 5px 0;
}
.notatka:nth-child(2n+1)
{
    background-color: #F3F3F3;
}
.notatka:nth-child(2n)
{
    background-color: #E0E0E0;
}
.notatka .naglowek {
    border-bottom: 1px dotted #696969;
    color: #4682B4;
    font-size: 10px;
    height: 15px;
    padding: 4px 0;
    text-align: right;
}
.naglowek > span {
    display: block;
    float: right;
    padding: 1px;
}
.notatka .tresc {
    text-align: justify;
    text-indent: 30px;
}
.status-container {
    position: relative;
}
.status-container span {
    border: 1px solid #000000;
    font-weight: bold;
    padding: 3px 0;
    position: absolute;
    right: 0;
    text-align: center;
    width: 100px;
    color: #FFFFFF;
    text-shadow: 1px 1px #000000;
}
.aktywny {
    background-color: #27A727;
}
.nieaktywny {
    background-color: #ee0000;
}
dl.table-display {
    border-bottom: 1px solid #999999;
    float: left;
    margin: 1em 0;
    padding: 0;
    width: 99%;
}
.table-display > dt {
    border-top: 1px solid #999999;
    clear: left;
    float: left;
    font-weight: bold;
    margin: 0;
    padding: 5px;
    width: 50%;
}
.table-display > dd {
    border-top: 1px solid #999999;
    float: left;
    margin: 0;
    padding: 5px;
    width: 45%;
}
.table-display dd dl dd {
    border-left: 6px groove;
    margin: 0;
    padding-left: 10px;
}
.table-display dd dl dt {
    font-weight: bold;
}
.table-display dd dl dt:nth-child(n+2) {
    margin-top: 10px;
}
/* KLAWISZE AKCJI */
.record_actions {
    height: auto;
    margin: 20px 0 0;
    overflow: auto;
}
.notatka .record_actions {
    margin: 0;
}
.notatka .record_actions > li {
    float: right;
}
.notatka .record_actions a {
    border-radius: 5px;
    padding: 0 5px;
    width: auto;
}