a, a:visited {
    color: #696969;
}
#main section h1 {
    color: #FF9000;
    text-shadow: 0 0 1px #333333;
}
#main table th, #main a {
    color: #333333;
}
#main table thead {
    background-color: #FF9000;
}
#main table tbody tr:nth-child(2n) {
    background-color: #F3F3F3;
}
#main table tbody tr:nth-child(2n+1) {
    background-color: #E0E0E0;
}