a, a:visited {
    color: #696969;
}
table .lp {
    width: 35px;
}
table .lp:after {
    content: '.';
}
#main section h1 {
    color: #FF9000;
    text-shadow: 0 0 1px #333333;
}
#main table th, #main a {
    color: #333333;
}
#main table thead {
    background-color: #FF9000;
}
#main table tbody tr:nth-child(2n) {
    background-color: #F3F3F3;
}
#main table tbody tr:nth-child(2n+1) {
    background-color: #E0E0E0;
}
.karta-klienta th {
    padding-left: 7px;
    text-align: left;
    width: 170px;
}
.karta-klienta td {
    padding-left: 7px;
    text-align: left;
}
.asc:after {
    background: url("images/sort-arrow-up.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: " ";
    display: inline-block;
    height: 10px;
    left: 5px;
    position: relative;
    top: 0;
    width: 10px;
}
.desc:after {
    background: url("images/sort-arrow-down.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: " ";
    display: inline-block;
    height: 10px;
    left: 5px;
    position: relative;
    top: 0;
    width: 10px;
}
tr.przeterminowane td, tr.przeterminowane th {
    background-color: #FF5050;
    color: #FFFFFF;
}