body {
    background-color: #FFFFFF;
    color: #696969;
    font-family: "Trebuchet MS",Arial,Tahoma,Verdana;
    font-size: 12px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-align: center;
}
input {
    background-color: #F0F0F0;
    border: 1px solid #AAAAAA;
    color: #666666;
    font-size: 10px;
    height: 17px;
}
input[type="checkbox"], input[type="radio"] {
    cursor: pointer;
}
a {
    text-decoration: none;
}
a.buttons {
    display: inline-block;
    height: 19px;
    text-align: center;
    text-decoration: none;
    width: 75px;
}
.ui-state-active {
    background-color: #FFA500;
    color: #FFFFFF !important;
}
.buttons {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #A6A6A6;
    border-color: -moz-use-text-color #808080 #808080 -moz-use-text-color;
    border-image: none;
    border-style: none solid solid none;
    border-width: 0 1px 1px 0;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 12px;
}
.buttons:hover {
    background-color: #808080;
    border-color: -moz-use-text-color #A6A6A6 #A6A6A6 -moz-use-text-color;
    padding: 1px 0 0 1px;
}
#login-form input {
    margin: 3px 0 3px 5px;
    padding: 0 0 0 3px;
    width: 150px;
}
#login-form input[type="submit"] {
    height: 19px;
    position: relative;
    top: 25px;
    width: 75px;
}
#login-form #remember-label {
    color: #666666;
    cursor: pointer;
    position: relative;
    top: -3px;
}
#login-form dl {
    color: #999999;
    float: left;
    font-size: 11px;
    height: 30px;
    margin-left: 5px;
    text-align: left;
    width: 150px;
}
#login-form dd {
    color: #333333;
    font-weight: bold;
    margin: 0;
}
#login-form > div {
    display: inline-block;
    float: right;
    height: 40px;
    margin: 6px 14px;
    width: 75px;
}
#login-form div p {
    margin: 1px 0;
    width: 77px;
}
#wrap {
    margin: auto;
    text-align: left;
    width: 1000px;
}
div {
    margin: 0;
    padding: 0;
}
#naglowek-strony {
    background: url("images/header_bg.gif") repeat-x;
    height: 84px;
    margin: 0 auto;
}
#naglowek-strony img {
    margin: 16px 0 12px 14px;
    width: 180px;
}
#naglowek-strony .login-box {
    background: #FFCCCC url("images/login_box_bg.jpg") no-repeat;
    color: #FFFFFF;
    float: right;
    height: 84px;
    width: 386px;
}
#naglowek-strony .login-box, #naglowek-strony .login-box input {
    font-size: 12px;
}
#login-form {
    float: right;
    height: 68px;
    margin-top: 16px;
    overflow: hidden;
    width: 258px;
}
#login-form p {
    float: left;
    margin: 0;
    width: 160px;
}
#menu-glowne {
    background: url("images/menu_bg.gif") repeat-x;
    height: 50px;
    margin: 7px auto 0;
    overflow-y: visible;
    padding: 0;
    width: 1001px;
    outline: none;
}
#menu-glowne > ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    outline: none;
}
#menu-glowne ul li {
    display: inline;
    margin: 0;
    padding: 0;
}
#menu-glowne ul li a {
    color: #696969;
    display: block;
    float: left;
    font-size: 11px;
    font-weight: bold;
    margin: 16px 0 0;
    padding: 11px 0;
    text-align: center;
    text-decoration: none;
    width: 100px;
}
#menu-glowne ul li a:hover {
    background-color: #EF7D20;
    color: #FFFFFF;
}
#main {
    background-color: #F9F9F9;
    border: 1px solid #C0C0C0;
    height: 800px;
    padding: 25px;
    width: 949px;
}
#main section {
    overflow: hidden;
}
#main section h1 {
    clear: both;
    font-size: 25px;
    margin: 7px auto;
    text-align: center;
    text-decoration: none;
    width: 100%;
}
#main table {
    border: 1px solid;
    border-collapse: collapse;
    font-size: 13px;
    table-layout: fixed;
    text-align: center;
    width: 100%;
}
#main table th {
    border: 1px dotted;
}
#main table tbody tr {
    border: 1px solid;
}
#main table tbody td {
    border: 1px dotted;
    height: 32px;
    padding: 1px 7px;
    overflow: hidden;
}
#main table tbody td div {
    max-height: 32px;
    overflow: hidden;
}
footer {
    font-size: 8px;
}
footer p {
    float: right;
}
/*DO POPRAWY*/
#menu-glowne ul li ul {
    background-color: #FFFFFF;
    border-bottom: 1px solid #C0C0C0;
    border-color: #C0C0C0;
    border-left: 1px solid #C0C0C0;
    border-radius: 0 0 7px 7px;
    border-right: 1px solid #C0C0C0;
    /*display: block;*/
    left: -100px;
    margin: 0;
    overflow: hidden;
    padding: 3px 0 0;
    position: relative;
    top: 51px;
    width: 199px;
}
#menu-glowne ul li ul li {
    display: block;
    height: 20px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: 100%;
}
#menu-glowne ul li ul li a {
    display: block;
    height: 20px;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: left;
    text-indent: 15px;
    width: 200px;
}