#adresat-container {
    margin-top: 40px;
    margin-bottom: 200px;
}
#first-page-footer {
    margin-top: 107.2mm;
    page-break-after: always;
    font-size: 10px;
}
#first-page-footer .stopka {
}
#first-page-footer .small {
    font-size: 8px;
}
#first-page-footer img {
    position: absolute;
    bottom: -21.5mm;
    right: 0;
}
section h4 {
    margin-bottom: 20px;
}
#produkty-opis, #produkty-lista, #systemy-malarskie, #dodatki-lista {
    margin-left: 10mm;
    margin-right: 10mm;
}
#produkty-opis, #produkty-lista {
    page-break-after: always;
}
#produkty-opis dl {
    margin-bottom: 40px;
}
#produkty-opis dl dt {
    margin-top: 40px;
}
#produkty-opis dl dd {
    margin-bottom: 10px;
}
#produkty-lista table tbody tr:nth-child(4n+2), #produkty-lista table tbody tr:nth-child(4n+1)
{
    background-color: #f7f7f7;
}
#systemy-malarskie dl {
    margin-bottom: 20px;
}
#systemy-malarskie dl dd {
    margin-left: 20px;
}
#systemy-malarskie dl dd span.glyphicon {
    margin-right: 20px;
}
.col-lp {
    width: 30px;
}
.col-produkt {
    width: 280px;
}
.col-opakowanie {
    width: 120px;
}
.col-cena {
    width: 170px;
}
.col-cena-wartosc {
   text-align: right;
}