{% extends '@DFPEtapI/Backend/index.html.twig' %}

{% block content -%}
    <h1>Edytuj proces przygotowania powierzchni</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('url_procesprzygotowaniapowierzchni') }}">
            Powrót do listy
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
