{% extends '@DFPEtapI/Backend/index.html.twig' %}

{% block content -%}
    <h1>Wzornik Kolorów - dodaj</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('backend_wzornikkolorow') }}" class="art-button">
            Powrót
        </a>
    </li>
</ul>
{% endblock %}
