<!DOCTYPE html>
<html lang="pl">
<head></head>
<body style="border:0; margin-top: 0; margin-bottom: 0; margin-left: 2mm; margin-right: 2mm; height: 20mm;">
    <style>
        .header {
            color: #ffffff;
            background-color: #969699;
            position: relative;
            display: block;
            height: 18mm;
            border-style: solid;
            border-color: #474747;
            border-width: 0.4mm;
        }
        .header h2, .header h3 {
            color: #FFFFFF;
            margin-left: 400px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    </style>
    <div class="header">
        <h2 style="">KARTA TECHNICZNA</h2>
        <h3 style="font-size: 12px;">Technical Data Sheet</h3>
    </div>
</body>
</html>