<!DOCTYPE html>
<html lang="pl">
<head></head>
<body style="border:0; margin: 0; height: 41mm;">
    <div class="footer" style="margin-left: 10mm; color: #7d7d7d;">
        <address style="font-size: 8pt; position: relative; top: 20mm; float: left; margin-right: 10mm;">
            <strong>Grupa CSV Sp. z o.o.</strong><br>
            Szczecin<br>
            ul. Pomorska 58-60<br>
            70-812 Szczecin<br>
            tel. +48 91 43 21 900<br>
            fax: +48 91 46 01 459
        </address>
        <address style="font-size: 8pt; position: relative; top: 20mm; float: left;">
            <strong>Dział Farb Przemysłowych</strong><br>
            Warszawa<br>
            ul. Mazura 16<br>
            02-830 Warszawa<br>
            tel: +48 22 54 40 300<br>
            fax: +48 22 54 40 399
        </address>
    </div>
    <img style="position: absolute; right: 0mm; bottom: -2mm;" width="100px" src="{{ asset('css/images/csv_diament.png') }}">
</body>
</html>
