{% extends "::base.html.twig" %}

{% block title %}DFPEtapIBundle:SystemMalarski:utworzSystemMalarski{% endblock %}

{% block body %}
<h1>Welcome to the SystemMalarski:utworzSystemMalarski page</h1>
{% endblock %}
