.qtip {
    width: 300px;
    max-width: none;
}
.qtip-bootstrap .qtip-content {
    padding: 9px 6px;
}
.qtip-bootstrap .table {
    font-size: 10px;
    margin-top: 10px;
}
.qtip-bootstrap .table th, .qtip-bootstrap .table td {
    /*border: 1px none;*/
    padding: 1px 5px;
}
.qtip-bootstrap .table th {
    width: 65px;
    color: #428bca;
}

/*  STATUSY ZDARZEŃ W KALENDARZU  */
.st-odrzucone {
    background: -moz-linear-gradient(top, rgba(255,0,0,0) 20%, rgba(255,0,0,1) 30%, rgba(255,0,0,0) 40%, rgba(255,0,0,0) 60%, rgba(255,0,0,1) 70%, rgba(255,0,0,0) 80%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,rgba(255,0,0,0)), color-stop(30%,rgba(255,0,0,1)), color-stop(40%,rgba(255,0,0,0)), color-stop(60%,rgba(255,0,0,0)), color-stop(70%,rgba(255,0,0,1)), color-stop(80%,rgba(255,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,0,0,0) 20%,rgba(255,0,0,1) 30%,rgba(255,0,0,0) 40%,rgba(255,0,0,0) 60%,rgba(255,0,0,1) 70%,rgba(255,0,0,0) 80%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,0,0,0) 20%,rgba(255,0,0,1) 30%,rgba(255,0,0,0) 40%,rgba(255,0,0,0) 60%,rgba(255,0,0,1) 70%,rgba(255,0,0,0) 80%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,0,0,0) 20%,rgba(255,0,0,1) 30%,rgba(255,0,0,0) 40%,rgba(255,0,0,0) 60%,rgba(255,0,0,1) 70%,rgba(255,0,0,0) 80%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,0,0,0) 20%,rgba(255,0,0,1) 30%,rgba(255,0,0,0) 40%,rgba(255,0,0,0) 60%,rgba(255,0,0,1) 70%,rgba(255,0,0,0) 80%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ff0000', endColorstr='#00ff0000',GradientType=0 ); /* IE6-9 */
}
.st-anulowane {
    background: -moz-linear-gradient(top, rgba(255,0,0,0) 40%, rgba(255,0,0,1) 48%, rgba(255,0,0,1) 53%, rgba(255,0,0,0) 60%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(40%,rgba(255,0,0,0)), color-stop(48%,rgba(255,0,0,1)), color-stop(53%,rgba(255,0,0,1)), color-stop(60%,rgba(255,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,0,0,0) 40%,rgba(255,0,0,1) 48%,rgba(255,0,0,1) 53%,rgba(255,0,0,0) 60%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,0,0,0) 40%,rgba(255,0,0,1) 48%,rgba(255,0,0,1) 53%,rgba(255,0,0,0) 60%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,0,0,0) 40%,rgba(255,0,0,1) 48%,rgba(255,0,0,1) 53%,rgba(255,0,0,0) 60%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,0,0,0) 40%,rgba(255,0,0,1) 48%,rgba(255,0,0,1) 53%,rgba(255,0,0,0) 60%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ff0000', endColorstr='#00ff0000',GradientType=0 ); /* IE6-9 */
}
.st-nadeslane {
    background-image: url("images/stripes.png");
}
.st-zarezerwowane {
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.st-zaakceptowane {

}
.fc-urlop, .fc-zwolnienie {
    background-image: url("images/urlop_stripe.gif");
}

/*  LEGENDA KALENDARZA    */

#kalendarz-legenda .row {
    margin: 5px 0;
}
.legenda-etykieta {
    background-color: #ADD8E6;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px 2px;
}
.legenda-etykieta > span {
    color: black;
    display: block;
    padding: 0 10px;
}
.qtip-content {
    overflow: visible;
}
.modal .mapa-container {
    width: 558px;
    height: 400px;
    position: relative;
}
.mapa-container #panel {
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -180px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
}
.mapa-container #panel label {
    margin-bottom: 0;
}
.fc-day.fc-today {
    border: 1px solid red !important;
}
a.fc-event, .fc-event-draggable {
    cursor: pointer;
}
/*      USTAIWENIA KALENDARZA BOCZNEGO      */
#lista-kalendarzy {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #ddd;
    border-image: none;
    border-width: 1px;
    left: 0;
    position: fixed;
    top: 15%;
    width: 280px;
    z-index: 1001;
    outline: 0;
}
#lista-kalendarzy a {
    outline: 0;
}
#lista-kalendarzy .tab-content ul {
    padding-left: 20px;
}
#lista-kalendarzy .tab-pane li {
    color: #ddd;
    list-style: none outside none;
}
#lista-kalendarzy .tab-pane li input, #lista-kalendarzy .tab-pane li label {
    cursor: pointer;
}
#lista-kalendarzy .tab-pane input {
    display: inline-block;
    margin-right: 10px;
    margin-top: 0;
}
#lista-kalendarzy .tab-pane label {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    padding: 2px 5px;
    width: 200px;
}
#lista-kalendarzy .tab-pane label.inactive {
    color: #dddddd !important;
    background-color: transparent !important;
    border-color: #dddddd !important;
}
#lista-kalendarzy .tab-content {
    border-color: #ddd;
    border-radius: 5px 0;
    border-style: none solid solid none;
    border-width: 1px;
    height: 100%;
    min-height: 200px;
    background-color: #ffffff;
}
#lista-kalendarzy .tab-pane {
    margin-top: 0;
    padding-top: 10px;
}
#lista-kalendarzy .listek {
    border-color: #ddd #ddd #fff;
    border-radius: 5px 5px 0 0;
    border-style: solid;
    border-width: 1px;
    color: #ddd;
    display: block;
    left: 250px;
    padding: 5px;
    position: absolute;
    top: 70px;
    transform: rotate(90deg);
    /* Safari */
    -webkit-transform: rotate(90deg);
    /* Firefox */
    -moz-transform: rotate(90deg);
    /* IE */
    -ms-transform: rotate(90deg);
    /* Opera */
    -o-transform: rotate(90deg);
    width: 90px;
    z-index: 1001;
    background-color: #ffffff;
}
#lista-kalendarzy .listek span {
    color: #428bca;
}
/*      KONIEC USTAWIEŃ KALENDARZA BOCZNEGO     */


/*      ZDARZENIA W KALENDARZU      */
.fc-event {
    font-size: 0.75em !important;
}
#formularz-container .row {
    margin-bottom: 5px;
}
.input-xs {
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 12px;
    height: 24px;
    line-height: 1.5;
    padding: 1px 0;
}
input.input-xs {
    padding-left: 5px;
    padding-right: 5px;
    color: #333333;
}